@page "/details/{FolderName}"
@using System.Reflection
@model DetailsModel
@{
    ViewData["Title"] = "Images from folder";
}

<h1>@ViewData["Title"] @Model.FolderName</h1>

@if (Model.Images is not null && Model.Images.Any())
{
    foreach (var item in Model.Images)
    {
        @if (string.IsNullOrEmpty(item.Title))
        {
            <h1>@item.Name</h1>
        }
        else
        {
            <h1>@item.Title</h1>
        }
        <p>
            <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.OriginalBytes!)" />
            <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.ProcessedBytes!)" />
            <small>@item.Description</small>
        </p>
    }
}
